{% extends 'base.html' %}

{% block contenido %}
    <h1>Contenido del index</h1>
    <section id="mapas">
        <article class="mapa">
            <figure>
                <figcaption>
                    <h3>Titulo del mapa</h3>
                </figcaption>
                <img src="Mapa" alt="Mapa"/>
                <p>Descripcion <span>Autor</span></p>
            </figure>
            <div class="acciones">
                <a class="up" href="#">U</a>
                <span class="total_votos">155</span>
                <a class="down" href="#">D</a>
            </div>
            <div class="datos">
                <a class="comentarios" href="#">100</a>
                <a class="estrellita" href="#">*</a>
            </div>
        </article>
    <article class="mapa">
            <figure>
                <figcaption>
                    <h3>Titulo del mapa</h3>
                </figcaption>
                <img src="Mapa" alt="Mapa"/>
                <p>Descripcion  <span>Autor</span></p>
            </figure>
        </article>
    <article class="mapa">
            <figure>
                <figcaption>
                    <h3>Titulo del mapa</h3>
                </figcaption>
                <img src="Mapa" alt="Mapa"/>
                <p>Descripcion  <span>Autor</span></p>
            </figure>
        </article>
    </section>
{% endblock %}
