gris_oscuro=#444
azul = #125eaa

body
  background #E8E8E8
  color gris_oscuro
  font-family Arial

  font-size 16px

  header
    background gris_oscuro
    color white
    padding 0.5em

    .logo
      width 70px
      text-align center
      border-right 1px solid azul

      img
        width 60px

    .central
      display inline-block
      margin 0 80px 0 10px

      .titular
          font-size 18px
          font-weight normal
          margin 0
          padding 0

    .usuario
      img
          border-radius 50px
          width 60px
          height 60px

  #btn_crear_mapa
    display: inline-block

   .left
     float left

   .right
     float right





