<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilos.css"/>
</head>
<body>
{% block encabezado %}
<header>
    <nav>
        <section class="logo left">
                <a href="#">
                    <img src="{{ STATIC_URL }}img/logo.svg" alt="Logo"/>
                </a>
        </section>
        <section class="central">
            <h1 class="titular">
                uMap lets you create maps with OpenStreetMap layers in a minute and embed them in your site.
            </h1>
            <section class="enlaces">
            <ul>
                <li><a href="#">Login / Registo</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </section>

        </section>
        <section class="usuario rigth">
            <a href="#">
                <img src="{{ STATIC_URL }}img/my_avatar.jpg" alt="Avatar usuario"/>
            </a>
        </section>
        <section id="btn_crear_mapa right">
            <a href="#">Crear Mapa</a>
        </section>
    </nav>
</header>
{% endblock %}
{% block busqueda %}
<div id="buscar">
    <ul>
        <li><input type="text"/></li>
        <li><input type="submit" value="Buscar"/></li>
    </ul>
</div>
<nav>
    <ul class="subdirs_menu">
        <li><a href="#">Metropolitana</a></li>
        <li><a href="#">Valle Cuautitlan</a></li>
        <li><a href="#">Piramides</a></li>
        <li><a href="#">Oriente</a></li>
        <li><a href="#">Volcanes</a></li>
    </ul>
</nav>
{% endblock %}
{% block caracteristicas %}
<section id="caracteristicas">
    <article>
        <figure><img src="lupa" alt="Lupa"/></figure>
        <p>uMap te permite crear mapas con capas de OpenStreetMap en un minuto y embeberlas en tu sitio.</p>
    </article>
    <article>
        <figure>
            <img src="lapiz" alt="lapiz"/>
        </figure>
        <div>
            <ul>
                <li>Elige las capas de tu mapa</li>
                <li>Añade PDIs: Marcadores, lineas poligonos..</li>
                <li>Elige los colores y los iconos de tus PDIs</li>
                <li>Administra las opciones de tu mapa: muestra un minimapa, localiza al usuario al cargar...</li>
                <li>Importar por lotes datos geoestructurados (geojson, gpx, kml, osm...)</li>
                <li>Elige la licencia de tus datos</li>
                <li>Incrusta y comparte tu mapa</li>
            </ul>
        </div>
    </article>
    <article>
        <figure>
            <img src="logo-git" alt="logo_git"/>
        </figure>
        <p>Y es de !fuentes abiertas!</p>
    </article>
</section>
{% endblock %}
{% block contenido %}{% endblock %}
{% block pie %}{% endblock %}
</body>
</html>
